.cart{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    :nth-child(1){
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .cart-button{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2rem 2rem;
        button{
            padding: 0.8rem 2rem;
            border: none;
            background-color: #034ef7;
            color: white;
            font-weight:bold;
            border-radius: 10px;
            cursor: pointer;
            &:hover{
              transform: scale(1.2);
            }
        }
        .cart-shopping{
          display: flex;
          gap: 1rem;
          font-weight: 500;
          text-decoration: underline;
          &:hover{
            cursor: pointer;
          }
        }
        
    } 
}
.c-central{
  display: flex;
  padding: 2rem;
  flex-direction: column;

    .cart-conteiner{
      display: flex;
      align-items: center;
      justify-content: space-between;
      box-shadow: 10px 10px 18px #888888;
      margin-bottom: 4rem;
      padding: 2rem;
      border-radius: 20px;
    }
    .c-left{
      display: flex;
    }
    .conter-m{
      :nth-child(1){
        font-size: 48pt;
        font-weight: bold;
      }
    }
}



