.discound-conteiner{
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #034ef7;
  padding: 0.5rem 0rem;
  gap: 10px;
  font-family: monospace;
  font-size: 14pt;
}

@media screen and (max-width: 768px) {
  .discound-conteiner{
    text-align: center;
    font-size: 10pt;
  }
}